<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Demo</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/car_status">Car</a></li>
                <li><a href="/random_person">Random Person</a></li>
                <li><a href="/fizzbuzz">FizzBuzz</a></li>
            </ul>
        </nav>
    </header>