<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <nav>
    <div display="inline">
        <a href="/">Home</a>
        <a href="/add">Add A Reminder</a>
        <a href="list">View Your To-Do List</a>
        <form action="/">
        <input name="username" id="username" type="text" placeholder="SIGN IN">
        <input type="submit" value="SIGN IN">
        </form>
    </div>
        
    </nav>
    