* {
    background-color: pink;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 10px solid;
    border-radius: 20px;
}
div {
    background-color: pink;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: black 10px solid;
    border-radius: 20px;
}