<%- include("./partials/header") %> 

<h1>Welcome to our Express Demo!</h1>

<img class="welcome-image" src="/images/arsenalbadge.jpg" alt="A Proud Club">

<img src="/images/proudBear.jpg" alt="">

<%- include("./partials/footer") %> 