<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href ="/">HOME</a></li>
                <li><a href ="/languageSelection">Language Selection</a></li>
            </ul>
        </nav>